<h1 class="text-center p-3">Edit Category</h1>
<%= render 'form' %>
<div class="text-center m-3">
  <%= link_to 'Cancel and return to category', category_path(@category), class: "text-info" %>
</div>
