<div class="container-fluid fixed-bottom bg-dark">
  <div class="container-fluid">
    <p class="navbar-brand text-center text-white fs-6 m-1" id="footer" href="#">Copyright ©Gary McQueen</p>
  </div>
</div>
