<div class="container">
  <div class="text-white p-5 rounded-pill m-5 text-center jumbo-bg">
    <h1 class="display-4">Just Get It!</h1>
    <p class="lead">Vertical on cell phones in portrait, horizontal in landscape.</p>
    <hr class="my-4"></hr>
    <p>Sign up below to post your own <%= link_to "Articles", articles_path %>! </p>
    <p>You do not need to verify an email to join, just enter a fake email in valid format
       then you can post articles!</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
