<div class="container">
  <div class="text-white p-5 rounded-pill m-5 text-center jumbo-bg">
    <h1 class="display-4">Just Get It!</h1>
    <p class="lead pill-text">Sign up to schedule and book personal training appointments!.</p>
    <hr class="my-4"></hr>
    <p class="pill-text">You can post your own blog articles by signing up <%= link_to "here", articles_path %>!
    You do not need to verify an email to join..currently.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
